# Copyright (c) 2025 Magomedcoder <info@magomedcoder.ru>
# Distributed under the GPL v3 License, see https://github.com/voo-su/server/blob/main/LICENSE

# http://editorconfig.org/
root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
insert_final_newline = true
end_of_line = lf
trim_trailing_whitespace = true

[*.yaml]
indent_size = 2

[{Makefile,go.mod,go.sum,*.go,.gitmodules}]
indent_style = tab
