[Unit]
Description=Voo.su cli queue

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/bin/voo-su cli-queue

[Install]
WantedBy=multi-user.target
