<head>
    <base target="_blank"/>
</head>
<body style="font-size: 14px;font-family: arial, verdana, sans-serif; line-height: 1.666; padding: 0; margin: 0; overflow: auto; white-space: normal; word-wrap: break-word; min-height: 100px; color: #222">
<div style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; margin: 30px 0">
    <h1>Добро пожаловать</h1>
    <h2>Код подтверждения {{.code}} </h2>
    <p>С уважением, команда Voo.su</p>
</div>
</body>
